body {
  text-align: center;
}
.btn {
  width: 200px;
  height: 200px;
  border-radius: 20%;
  border: 10px solid black;
  margin: 2.5rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
p {
    font-size: 20px;
    font-weight: 600;
}
.red {
    background-color: #d95980;
}
.green {
    background-color: #63aac0;
}
.yellow {
    background-color: #f99b45;
}
.blue {
    background-color: #819ff9;
}

.flash {
    background-color: white;
}